<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A tecnologia Bluetooth</title>
    <link rel="shortcut icon" href="img/bluetooth.png" type="image/x-icon" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
  </head>
  <body>
    <header class="cabecalho">
      <h1 class="titulo">Política de Segurança</h1>
      <ul class="autores">
        <li class="autores-titulo">Autores:</li>
        <li class="nomes">Alexandre Santos Ferreira</li>
        <li class="nomes">Luiz Hernrique Costa Lima</li>
        <li class="nomes">Victor Gabriel Cavani de Souza</li>
        <li class="nomes">Vinícius Soares de Paula Souza</li>
      </ul>
    </header>
    <aside class="barraLateral">
      <ul class="menu">
        <li><a href="#introducao" class="subs">Introdução</a></li>
        <li>
          <a href="#empresa" class="subs"
            >A empresa e a política de segurança</a
          >
        </li>
        <li>
          <a href="#cumprimento" class="subs">Não cumprimento da política</a>
        </li>
        <li><a href="#respgerais" class="subs">Responsabilidades gerais</a></li>
        <li>
          <a href="#respdiretores" class="subs"
            >Responsabilidades de diretores e gerentes</a
          >
        </li>
        <li><a href="#seguranca" class="subs">Segurança</a></li>
        <li><a href="#segfisica" class="subs">Segurança física</a></li>
        <li><a href="#downloads" class="subs">Política de Downloads</a></li>
        <li>
          <a href="#senhas" class="subs">Política de senhas</a>
        </li>
        <li><a href="#seglogica" class="subs">Segurança lógica</a></li>
      </ul>
    </aside>
    <main class="parteCentral">
      <h2 id="descricao">Introdução</h2>
      <p>
        A Política de Segurança da Informação reúne regras, práticas, diretrizes
        e procedimentos acerca da segurança da informação, com o objetivo de
        minimizar riscos de perdas ou violação de qualquer ativo de TI. Essa
        política protege as informações da sua empresa do que poderia causar
        algum dano intencionalmente ou não.
      </p>
      <p>
        Uma PSI visa proteger e garantir os três princípios da segurança da
        informação – confidencialidade, integridade e disponibilidade. As normas
        e práticas descritas na PSI devem sempre se relacionar a um ou mais
        desses princípios.
      </p>
      <p>
        Sua implementação previne danos ao andamento do negócio e padroniza
        procedimentos, além de prever e mensurar respostas a incidentes. A longo
        prazo, isso resulta na redução de custos com incidentes de TI.
      </p>

      <h2 id="empresa">A empresa e a política de segurança</h2>
      <p>
        Essa política de segurança visa definir um conjunto de normas e
        procedimentos baseados nos valores e cultura da empresa, a fim de
        estabelecer um caminho para a mitigação dos riscos inerentes ao negócio
        e as informações.
      </p>

      <h3 id="cumprimento">Não cumprimento da política</h3>
      <p>
        O não cumprimento dessa política pode acarretar a determinadas medidas
        cabíveis pré estabelecidas, como advertências e punições.
      </p>

      <h2 id="responsabilidades">Responsabilidades</h2>
      <h3 id="respgerais">Responsabilidades gerais</h3>
      <p>
        Todo colaborador deve manter em sigilo as informações sobre produtos,
        serviços, clientes e o trabalho que o mesmo desenvolve na empresa.
        Qualquer um que infringir essa norma está sujeito a medidas cabíveis,
        que podem incluir advertências, responsabilização legal e demissão por
        justa causa.
      </p>
      <p>
        Todo o colaborador deve zelar pela segurança e o bom funcionamento dos
        equipamentos do escritório. Deve-se evitar a alimentação fora da cozinha
        e qualquer outra ação que possa vir a comprometer esses equipamentos.
        Qualquer um que infringir essa norma está sujeito a medidas cabíveis,
        que podem incluir advertências, demissão por justa causa e custos com o
        ressarcimento dos equipamentos.
      </p>
      <p>
        É permitido o uso da rede apenas para acessar sites e serviços de cunho
        profissional. Assim, o uso da rede para fins não profissionais é
        estritamente proibido. Qualquer um que infringir essa norma está sujeito
        a medidas cabíveis, que podem incluir advertências e demissão por justa
        causa.
      </p>
      <h3 id="respdiretores">Responsabilidades de diretores e gerentes</h3>
      <p>
        Os diretores e gerentes são responsáveis por monitorar os subordinados
        quanto ao seguimento e cumprimento desta política.
      </p>

      <h2 id="seguranca">Segurança</h2>
      <h3 id="segfisica">Segurança física</h3>
      <p>
        É proibido alterar a configuração da rede, adicionar ou remover um
        equipamento da mesma sem a permissão do chefe de segurança para tal.
        Qualquer um que infringir essa norma está sujeito a medidas cabíveis,
        que podem incluir advertências, demissão por justa causa e custos com o
        ressarcimento dos equipamentos.
      </p>

      <h3 id="downloads">Política de Downloads</h3>
      <p>
        É proibido o download de qualquer informação sobre o software da
        empresa, de dados de clientes e de conversas que forem realizadas dentro
        da empresa. Qualquer download sem autorização do chefe está sujeito às
        medidas cabíveis.
      </p>

      <h2 id="senhas">Política de senhas</h2>
      <p>
        A disponibilidade de compartilhamento de senhas é totalmente proibido
        com terceiros ou sem a autorização registrada do chefe. Os funcionários
        devem utilizar senhas diferentes para cada nível de login, sendo estas
        totalmente diferentes, não apenas com troca de caracteres ou números.
        Também deve-se atualizar as senhas com uma frequência pré estabelecida.
        O erro de alguma senha irá gerar um travamento da conta, onde o
        funcionário deverá trocar essas senha respondendo algumas perguntas
        realizadas.
      </p>
      <h2 id="seglogica">Topologias</h2>
      <p>
        Todos os desenvolvedores devem usar o GitHub para fazer o versionamento
        dos projetos. <br />Qualquer um que infringir essa norma está sujeito a
        medidas cabíveis, que podem incluir advertências e demissão por justa
        causa. <br />Todos os projetos da empresa devem estar em modo privado no
        GitHub. <br />
        O acesso aos projetos deve ser concedido somente aos colaboradores que
        participam do mesmo. <br />
        Nenhum código deve ser publicado na branch principal sem passar por um
        Pull request antes.
      </p>
    </main>

    <script src="js/index.js"></script>
  </body>
</html>
